replicaCount: 1

image:
  repository: ghcr.io/jariahh/ateliercode-app
  pullPolicy: Always
  tag: "11a8a12"

imagePullSecrets: []

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: app.ateliercode.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ateliercode-app-tls
      hosts:
        - app.ateliercode.dev

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}
